# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub

##### Some of the commonly used libraries used by Data Scientists include:

1. R
2. Python
3. Scala

##### Some of the commonly used libraries used by Data Scientists include:

1. SCikit-Learn
2. caret
3. Matplotlib

| Data Science Tools |
|--------------------|
| RStudio         |
| VS Code         |
| Anaconda        |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This expression will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Leopoldo GÃ³mez Caudillo